input[type="text"],
input[type="email"],
textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 10px;
    font-size: 18px;
}

.labelText {
    display: flex;
    margin: 15px;
    font-size: 18px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 15px;
    width: 100px;
    text-align: center;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.error {
    color: red;
    display: flex;
    margin: 10px;
}